extends ../layout

block content
    div
        table(id='listPlace')
            thead
                td Nom
                td Avis
                td Prix
            tbody
                each place in data 
                    tr
                        td
                            a(href='/place/'+place.id)= place.name
                        td(data-sort=place.note)= place.note+"/10"
                        td(data-sort=place.price)= place.price+"€/j"

block script
    script.
        $('#listPlace').DataTable();
